.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateY(-25px);
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: var(--text-color);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pizza {
    width: 100%;
    height: auto;
    max-width: 400px;
}

@media (max-width: 768px) {
    .success {
        gap: 6px;
        transform: translateY(-25px);
    }

    .pizza {
        max-width: 220px;
    }

    .text {
        font-size: 22px;
    }

    .button {
        margin-top: 20px;
    }
}