.layout {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}
.sidebar {
    display: flex;
    padding: 30px;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}


@media (max-width: 1394px) {
    .layout {
        max-width: 1000px;
    }
}

@media (max-width: 1016px) {
    .layout {
        max-width: 650px;
    }
}

@media (max-width: 768px) {
    .layout {
        max-width: 500px;
    }
}

.content {
    flex: 1;
    padding: 40px 60px;
    height: 100%;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.user {
    margin-bottom: 46px;
}

.avatar {
    margin-bottom: 20px;
    filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--text-color);
}

.email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    color: var(--text-third-color);
}

.link {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: var(--text-color)
}

.active {
    color: var(--primary-color)
}

.exit {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 9px;
    width: max-content;
    align-self: flex-start;
    /*padding-right: 50px;*/
}


