.dish-card {
    background: var(--white-color);
    box-shadow: 18.2143px 18.2143px 36.4286px rgba(211, 209, 216, 0.25);
    border-radius: 19px;
    width: 320px;
    position: relative;
}

.head {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
}

.footer {
    padding-left: 12px;
    padding-bottom: 15px;
}

.name {
    font-style: normal;
    font-weight: 600;
    font-size: 18.2143px;
    line-height: normal;
    color: var(--text-color);
    text-decoration: none;
    padding: 0;
    margin-top: 31px;
    margin-bottom: 5px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 14.5714px;
    line-height: normal;
    color: var(--text-secondary-color);
    text-decoration: none;
    margin: 0;
}

.add-to-cart-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 34px;
    height: 34px;
}

.price {
    position: absolute;
    top: 12px;
    left: 13px;
    background: var(--white-color);
    padding: 3px 10px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.currency {
    color: var(--primary-color);
    font-size: 20px;
    line-height: 27px;
}

.rating {
    position: absolute;
    bottom: -12px;
    left: 13px;
    background: var(--white-color);
    box-shadow: 0px 6.07143px 24.2857px rgba(254, 114, 76, 0.2);
    border-radius: 136px;

    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    padding: 6px 8px;
}

.link {
    text-decoration: none;
}







