.button {
    border-radius: 28.5px;
    padding: 8px 30px;
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    cursor: pointer;
    border: none;
    width: 248px;
    height: 60px;
}

.accent {
    background: var(--primary-color);
    box-shadow: var(--button-shadow);
    transition: box-shadow 0.3s ease;
}

.accent:hover {
    box-shadow: var(--button-shadow-hover);
}

.accent:active {
    box-shadow: var(--button-shadow-active);
    transform: translateY(2px);
}



