.layout {
    display: flex;
    max-width: 1800px;
    width: 100%;
    min-height: 100vh;
}

.logo {
    display: flex;
    flex: 1;
    padding: 120px;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex: 1;
    border-left: 1px solid var(--separator-color);
    align-items: center;
    justify-content: center;
}
