.top-bar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
}

.burger {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #F3F4F6;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .burger {
        display: flex;
    }
    .title {
        display: none;
    }
}
