.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row label {
    color: #9796A1;
    font-size: 17px;
    font-weight: 400;
}
.links {
    display: flex;
    color: var(--text-secondary-color);
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
}
.links a {
    color: var(--primary-color);
    text-decoration: none;
}
.error {
    color: white;
    background: #FFC529;
    padding: 20px;
}