.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.head {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 323px);
    column-gap: 50px;
    row-gap: 40px;
    padding: 30px 0;
    overflow-y: auto;
    align-content: start;
}

.paginationWrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    /*padding-bottom: 80px;*/
    /*padding: 60px 0;*/
    /*padding-bottom: 40px;*/
}

@media (min-width: 1017px) and (max-width: 1394px) {
    .cards-container {
        grid-template-columns: repeat(2, 323px);
        column-gap: 35px;
        row-gap: 20px;
    }
}

@media (max-width: 1017px) {
    .cards-container {
        grid-template-columns: repeat(1, 323px);
        column-gap: 25px;
        row-gap: 10px;
    }
    .search-input {
        width: 100px;
    }
}


.card {

}