.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.search-input {
    flex: 1;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 30px 0;
    align-content: start;
}

.pagination-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .pagination-wrapper {
        padding: 0 16px 16px;
        justify-content: center;
    }
}




