.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 30px 0;
    overflow-y: auto;
    align-content: start;
}

.paginationWrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*@media (max-width: 768px) {

}

@media (min-width: 1017px) and (max-width: 1394px) {
    .cards-container {
        grid-template-columns: repeat(2, 323px);
        column-gap: 35px;
        row-gap: 20px;
    }
}

@media (max-width: 1017px) {
    .cards-container {
        grid-template-columns: repeat(1, 323px);
        column-gap: 25px;
        row-gap: 10px;
    }
    .search-input {
        width: 100px;
    }
}*/
