.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    padding-top: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    min-height: 64px;
}

.desktop-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mobile-header {
    display: none;
}

.search {
    width: 340px;
    flex-shrink: 0;
    transition: width .25s ease;
}

.search.active {
    width: 520px;
    box-shadow: 0 6px 20px rgba(0,0,0,.08);
}

.tabs {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    width: 100%;
    gap: 60px;
    transition: all .3s ease;
}

.tabs.hidden {
    flex: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}

.tab,
.tab-active {
    border: none;
    background: transparent;
    padding: 0 0 10px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: var(--text-secondary-color);
    cursor: pointer;
}

.tab:hover {
    color: var(--primary-color);
}

.tab-active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    align-content: start;
    border-top: 1px solid #F0F0F0;
}

.pagination-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.header-more-button {
    display: none;
}

.header-more-button span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--text-color);
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .pagination-wrapper {
        padding: 0 16px 96px;
        justify-content: center;
    }

    .header {
        box-sizing: border-box;
        gap: 20px;
        flex-direction: column;
        width: calc(100% + 32px);
        margin: -16px -16px 0;
        padding: 24px 16px 0;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.04);
    }

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-header-top {
        display: flex;
        gap: 10px;
    }

    .header-more-button {
        display: flex;
        flex: 0 0 40px;
        gap: 3px;
    }

    .tabs {
        justify-content: center;
        gap: 56px;
        margin-bottom: 0;
        border-bottom: none;
    }

    .cards-container {
        border-top: none;
    }

}
