.button {
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 29px;
    flex: 0 0 auto;
    width: 80%;
}

.accent {
    background: var(--primary-color);
    box-shadow: var(--button-shadow);
    transition: box-shadow 0.3s ease;
}

.accent:hover {
    box-shadow: var(--button-shadow-hover);
}

.accent:active {
    box-shadow: var(--button-shadow-active);
    transform: translateY(2px);
}

.big {
    padding: 20px 60px;
}

.small {
    padding: 10px 25px;
}
