:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #FE724C;
  --button-shadow: 0px 5px 15px rgba(122, 129, 190, 0.16);
  --button-shadow-hover: 0px 10px 20px rgba(122, 129, 190, 0.4);
  --button-shadow-active: 0px 2px 10px rgba(122, 129, 190, 0.3);
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFFFFF;
  --separator-color: #D4D6E0;
}
body{
  font-family: 'Open Sans', sans-serif;
}