.input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #FCFCFD;
    border: 1px solid #EFEFEF;
    color: var(--text-color);
    border-radius: 10px;
    padding: 16px 30px 16px 44px;
    width: 150px;
    text-decoration: none;
}

.input-wrapper {
    position: relative;
}

.icon {
    position: absolute;
    left: 17px;
    top: 17px;
}











